.bg1
{
background-color:black;
margin-top:15px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: ghostwhite;
}
*,*::before,*::after
{
padding:0;
margin:0;
box-sizing:border-box;
}
.grid-nav1
{
display: grid;
grid-template-columns: auto auto ;
margin-left:100px;
}
.grid-item1
{
font-size:40px;
font-weight:bold;
}
.grid-item2
{
display:grid;
grid-template-columns:auto auto auto auto auto ;
margin-top:20px;
column-gap:40px;
justify-content: end;
}
.grid-item2 > div
{
font-size:22px;
}
.grid-item2 > div > a
{
color:ghostwhite;
text-decoration:none;
position:relative;
}
.grid-item2 > div > a::after
{
content:"";
position:absolute;
background-color:#ff004f;
height:3px;
width:0;
left:0;
bottom:-10px;
transition:0.3s;
}
.grid-item2 > div > a:hover::after
{
width:100%;
}
.item5
{
margin-right:250px;
}
.heading1
{
margin-left:100px;
margin-top:150px;
}
.head1
{
font-size:20px;
margin:10px;
}
.head2
{
margin-top:10px;
font-size:40px;
}
.bg2
{
background-color:rgb( 18, 18, 18);
margin-top:200px;
}
.grid-about
{
display:grid;
grid-template-columns:auto auto auto;
padding-top:100px;
column-gap:100px;
}
.grid-item3 >img
{
width:350px;
height:500px;
margin-left:100px;
}
.grid-item3 > img
{
    border-radius: 20px;
}
.ab1
{
font-size:45px;
font-weight:bold;
margin-bottom:0px;
}
.ab2
{
font-size:15px;
margin-top:0px;
margin-right:200px;
}
.nav-item:hover
{
background-color:rgb(120, 110, 110);
}
.services
{
margin-top:100px;
margin-left:100px;
margin-right:200px;
font-size:30px;
}
.service >p{
font-size:20px;
font-weight:bold;
}
.grid-services
{
display:grid;
grid-template-columns:auto auto auto ;
column-gap:20px;
}
.card1
{
background-color:rgb(65,65,65);
border-radius:10px;
padding:20px;
width:400px;
transition:background-color 0.5s,transform 0.5s;
height:350px;
}
.card1 > p
{
font-size:15px;
}
.card1 > a
{
text-decoration: none;
color: ghostwhite;
font: 12px;
}
.card1:hover
{
background-color:deeppink;
transform:translateY(-10px);
}
.portfolio
{
margin-left:100px;
margin-top:100px;
}
.p1
{
font-size: 50px;
font-weight:bold;
}
.grid-port
{
display: grid;
grid-template-columns:auto auto auto;
column-gap:10px;
}
.grid-port >div >img
{
width:350px;
height:500px;
border-radius:20px;
}
.grid-item10
{
margin-right:200px;
}
.portfilio >p >a
{
text-decoration:none;
color:ghostwhite;
}
.p2
{
text-align:center;
border:1px solid #ff004f;
margin-top:50px;
margin-left:500px;
margin-right:800px;
height:50px;
border-radius:20px;
padding:10px;
}
.p2:hover
{
background-color:#ff004f
}
.contact
{
margin-left:100px;
margin-top:200px;
}
.grid-contact
{
display:grid;
grid-template-columns:auto auto;
column-gap:60px;
}
.grid-item11 > div
{
margin-top:55px;
font-size:30px;
font-weight:bold;
color:rgb(244, 0, 79);
}
.grid-item11 > p
{
font-size:30px;
margin-top:55px;
}
.grid-item11 > button
{
color:ghostwhite;
background-color: #ff004f;
font-size:15px;
border: none;
padding: 10px;
border-radius:10px;
}
.grid-item11 > button >a
{
text-decoration:none;
color:ghostwhite;
}
.grid-item12
{
margin-top:0px;
}
.grid-item12 > form > div
{
margin-top:28px;
}
input
{
background-color:rgb(47,46,46);
color:ghostwhite;
width:600px;
height:60px;
border:none;
border-radius:15px;
}
::placeholder
{
padding-left:20px;
}
textarea
{
background-color:rgb(47,46,46);
color:ghostwhite;
border:none;
border-radius:15px;
}
textarea::placeholder
{
padding-top:20px;
}
.grid-item12 > form > div > button
{
color: ghostwhite;
background-color: #ff004f;
font-size: 22px;
border: none;
padding: 10px;
margin-top: 50px;
border-radius: 10px;
width: 200px;
margin-bottom:100px;
}
.copyrights
{
background-color:rgb(61,60,60);
height:60px;
color:ghostwhite;
text-align:center;
padding-top:30px;
}